- content_for(:navigation) do
  = render :partial => "/layouts/member_navigation", :locals => { :active => "users" }

.row
  .three.columns
  .nine.columns
    .twelve.columns
      %h4
        Users
        %small
          Manage who can access your data
      %hr
    .twelve.columns
      %table.responsive
        %thead
          %tr
            %th Username
            %th Email
            %th Registered
            %th Role
            -#%th
            %th
        %tbody
          - @users.each do |user|
            %tr
              %td= link_to user.name, user
              %td= user.email
              %td= user.created_at.to_date
              %td= user.roles.first.name.titleize unless user.roles.first.nil?
              -#%td
                %a.btn.btn-mini{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"} Change role
                = render user
              %td
                = link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button radius small') unless user == current_user
      -#.show-for-small
        %h3
          Use the mobile application to manage your users