- content_for(:navigation) do
  = render :partial => "/layouts/member_navigation", :locals => { :active => "users" }

.row
  .three.columns
    .sidebar
      %ul.nav-bar.vertical
        %li
          %a{:href => new_user_path } Add User
    -#%ul.tabs.vertical
      %li.active
        %a Users
        %ul
          %li
            %a
              New
    -#%ul.tabs.vertical.hide-on-phones
      %li
        %a{:href => "index.php"} Getting Started
      %li
        %a{:href => "compass.php"} Compass
      %li
        %a{:href => "rails.php"} Rails
      %li
        %a{:href => "sass.php"} Sass
      %li
        %a{:href => "quickstart.php"} CSS Quickstart
      %li.active
        %a{:href => "components.php"} Components
        %ul
          %li
            %a{:href => "components.php"} Overview
          %li
            %a{:href => "grid.php"} The Grid
  .nine.columns
    .twelve.columns
      %h4
        Users
        %small
          Manage who can access your data
      %hr
    .twelve.columns
      %table.responsive
        %thead
          %tr
            %th Username
            %th Email
            %th Registered
            %th Role
            -#%th
            %th
        %tbody
          - @users.each do |user|
            %tr
              %td= link_to user.name, user
              %td= user.email
              %td= user.created_at.to_date
              %td= user.roles.first.name.titleize unless user.roles.first.nil?
              -#%td
                %a.btn.btn-mini{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"} Change role
                = render user
              %td
                = link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button radius small') unless user == current_user
      -#.show-for-small
        %h3
          Use the mobile application to manage your users