- content_for(:navigation) do
  = render :partial => "/layouts/member_navigation", :locals => { :active => "customers" }

.row
  .three.columns
    .sidebar
      %ul.nav-bar.vertical
        %li
          = link_to 'New Customer', new_customer_path
  .nine.columns
    .twelve.columns
      %h4
        Customers
        %small
          Manage the stores where you deliver your consignments
      %hr
    .twelve.columns
      %table.responsive
        %thead
          %tr
            %th Name
            %th Email
            %th{:colspan => "2"}
        %tbody
        - @customers.each do |customer|
          %tr
            %td= customer.name
            %td= customer.email
            -#%td= link_to 'Show', customer
            %td= link_to 'Edit', edit_customer_path(customer), :class => "button radius small"
            %td= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button radius small"
