- content_for(:navigation) do
  = render :partial => "/layouts/member_navigation", :locals => { :active => "products" }
.row
  .three.columns
    .sidebar
      %ul.nav-bar.vertical
        %li
          = link_to 'New Product', new_product_path
    .upload
      %hr
      %h5
        Upload Spreadsheet
      %p
        You can upload a spreadsheet of your products. This needs to be an .xls or .xlsx file. See the sample file for the preferred format.

      = form_tag import_products_path, multipart: true do
        = file_field_tag :file, :class => "upload"
        = submit_tag "Import", :class => "button radius upload"
  .nine.columns
    .twelve.columns
      %h4
        Products
        %small
          Manage the products you sell
      %hr
    - if !notice.nil?
      .twelve.columns
        .alert-box.secondary
          = notice
          %a.close{:href => ""}
            &times;
    .twelve.columns
      %table.responsive
        %thead
          %tr
            %th Code
            %th Name
            %th Description
            %th List price
            %th Sale price
            %th{:colspan => "2"}
        %tbody
        - @products.each do |product|
          %tr
            %td= product.code
            %td= product.name
            %td= product.description
            %td= product.list_price
            %td= product.sale_price
            %td= link_to 'Edit', edit_product_path(product), :class => "button radius small"
            %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button radius small"
