- content_for(:navigation) do
  = render :partial => "/layouts/member_navigation", :locals => { :active => "products" }
.row
  .three.columns
    .sidebar
      %ul.nav-bar.vertical
        %li
          = link_to 'New Product', new_product_path
  .nine.columns
    .twelve.columns
      %h4
        Products
        %small
          Manage the products you sell
      %hr
    .twelve.columns
      %table.responsive
        %thead
          %tr
            %th Code
            %th Name
            %th Description
            %th List price
            %th Sale price
            %th{:colspan => "2"}
        %tbody
        - @products.each do |product|
          %tr
            %td= product.code
            %td= product.name
            %td= product.description
            %td= product.list_price
            %td= product.sale_price
            %td= link_to 'Edit', edit_product_path(product)
            %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }
