%p#notice= notice

%p
  %b Code:
  = @product.code
%p
  %b Name:
  = @product.name
%p
  %b Description:
  = @product.description
%p
  %b List price:
  = @product.list_price
%p
  %b Sale price:
  = @product.sale_price
%p
  %b Account:
  = @product.account

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
