- content_for(:navigation) do
  = render "/layouts/home_navigation"
.hero
  .row
    .twelve.columns.centered
      %h1
        Use
        = t(:title)
        to manage your sales.

  .row.signup-form
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      .three.columns
        = f.text_field :temp_company_name, :placeholder => "Your Store Name"
      .three.columns
        = f.email_field :email, :placeholder => "Your Email Address"
      .three.columns
        = f.password_field :password, :placeholder => "Password"
      .three.columns
        %input.button.radius{:type => "submit", :value => "Sign Up" }
      .twelve.columns
        %h3
          = render "/layouts/messages"
  .row.registered
    .twelve.columns.centered
      %h3
        Already Registered?
        %a{:href => "login"}
          Login in here